<div class="loading-animation cen-align hidden">
	    <span></span>
	    <span></span>
	    <span></span>
    </div>	
<!--  IMChat 对话title -->
<div class="IMChat-title cl">
    <h2 class="title-item group z"  ng-if="chattype.chattype=='tixing'" ng-bind="chatiteminfo.name | limitTo:15">
         </h2>
    <ul class="operate-item y">
        <li class="" ng-show="false"></li>
        <li class="" ng-show="false" ng-click="personSetup_Click()"></li>
        <li class="" ng-show="false" ng-click="groupSetup_Click()" onclick="jQuery('.IMChat-group-slide').removeClass('hidden')"></li>
    </ul>
</div>
<!-- 消息、人员展现窗口 -->
<div class="IMChat-entity-display message" infinite-scroll="pullHistoryMessage()" can-load="canLoad">
    
    	
    <!-- 消息实体 -->
    <ul class="message-entity">
   
     <!--   <li class="operate-reminder">您已经添加康康为好友</li>-->
        <!-- 时间提示 -->
    <!--    <li class="timer-reminder">昨天 21:50</li>-->
     
   
 
    
         <li class="cl" ng-repeat="item in chatMessages track by $index" ng-class="{true:'message-iterlocutors',false:'message-self'}[item._sendType=='received']">
                      <div class="msg-time">{{item.dateline |date:"MM-dd HH:mm"}}</div>
            <!--单聊-->
            <div class="cl" ng-class="{true:'z',false:'y'}[item._sendType=='received']"  >
                <span  class="photocard rainbow-{{item._fromVcard._name|getFirstLetter}} avt-s-l" ng-class="{true:'z',false:'y'}[item._sendType=='received']"  ng-bind="'日程提醒' | cutString:1:2">{{item._fromVcard._name}}</span>
                <div class="dialog-card">
                    <div class="namecard"  ng-bind="'日程提醒'">
                       {{item._fromVcard._name}}
                        </div>
                    <em class="arrow">
                    	<span></span>
                    	<span></span>
                    </em>
                    <div class="dialog-content"><!--{{item}}-->
                    	<div class="msg-read" ng-if="item._isReaded=='readed'">已读</div>
                    	<div class="msg-unread" ng-if="item._isReaded=='unreaded'">未读</div>
                        <pre ng-if="'imchat201_imchat202'.indexOf(item._templateCode)>=0"  ng-bind-html="item._data.content | expressionFilter"><!--{{item._data.content}}--></pre>
                        <img ng-if="'imchat801_imchat802'.indexOf(item._templateCode)>=0" ng-src="{{item._data.content.path}}" class="chat-img">
                        <span ng-if="'imchat401_imchat402'.indexOf(item._templateCode)>=0"><img class="file-icon" ng-src="WebContent/res/skin/palmyy/images/filetype/{{item._data.content.type}}.png" on-img-error="WebContent/res/skin/palmyy/images/filetype/file_default.jpg"><a href="{{item._data.content.path}}" noopen="true"  imopenurl target="_top">{{item._data.content.name}}</a></span>	
                    </div>
                </div>
            </div>
        </li>
        
    </ul>
    <!-- 联系人实体 -->
</div>
<button id="check_latest" ng-show="latest_btn.show" ng-click="checkLatest();">新消息</button>
