<div ng-include="'WebContent/res/templete/group-setup.htm'"></div>
	
<!--  IMChat 对话title -->
<div class="IMChat-title cl">
    <h2 class="title-item z">
        36800协助</h2>
    
</div>
<!-- 消息、人员展现窗口 -->
<div class="IMChat-entity-display contacts">
    <ul class="contacts-entity sup-team">
    	
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatITService1()">发起聊天</span>IT综合问题解决服务人员806</div>
    		<div class="sup-cont">网络、邮件、服务器、个人电脑、应用软件、办公系统等
    			<ul>
    				<li style="display: none;"></li>
    				<li>36800或010-62436800</li>
    				<li>thxiaoyl@yonyou.com</li>
    			</ul>
    		</div>
    	</li>
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatITService2()">发起聊天</span>IT综合问题解决服务人员805</div>
    		<div class="sup-cont">网络、邮件、服务器、个人电脑、应用软件、办公系统等
    			<ul>
    				<li style="display: none;"></li>
    				<li>36800或010-62436800</li>
    				<li>thzhangwl@yonyou.com</li>
    			</ul>
    		</div>
    	</li>
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatITService3()">发起聊天</span>IT综合问题解决服务人员808</div>
    		<div class="sup-cont">网络、邮件、服务器、个人电脑、应用软件、办公系统等
    			<ul>
    				<li style="display: none;"></li>
    				<li>36800或010-62436800</li>
    				<li>thlinna@yonyou.com</li>
    			</ul>
    		</div>
    	</li>
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatITService4()">发起聊天</span>IT综合问题解决服务人员802</div>
    		<div class="sup-cont">网络、邮件、服务器、个人电脑、应用软件、办公系统等
    			<ul>
    				<li style="display: none;"></li>
    				<li>36800或010-62436800</li>
    				<li>thhouxy@yonyou.com</li>
    			</ul>
    		</div>
    	</li>
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatITService5()">发起聊天</span>IT综合问题解决服务人员801</div>
    		<div class="sup-cont">网络、邮件、服务器、个人电脑、应用软件、办公系统等
    			<ul>
    				<li style="display: none;"></li>
    				<li>36800或010-62436800</li>
    				<li>thliuwm@yonyou.com</li>
    			</ul>
    		</div>
    	</li>
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatMobile()">发起聊天</span>掌上用友移动端问题</div>
    		<div>移动客户端异常、闪退、应用崩溃等
	    		<ul>
	    			<li>史金城</li>
					<li>18612565160</li>
					<li>shijch@yonyou.com</li>
				</ul>
			</div>	
    	</li>
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatPC()">发起聊天</span>掌上用友PC端问题</div>
    		<div>PC客户端异常、闪退、应用崩溃等
	    		<ul>
	    			<li>荣锋亮</li>
					<li>18503209670</li>
					<li>rongfl@yonyou.com</li>
				</ul>
			</div>	
    	</li>
    	<li>
    		<div class="panel-title clearfix"><span ng-click="goToMessageChatFunction()">发起聊天</span>掌上用友需求反馈</div>
    		<div>想要的功能、急需的需求、您的创意
				<ul>
					<li>陈怀海</li>
					<li>18910051520</li>
					<li>chenhhai@yonyou.com</li>
				</ul>
			</div>	
    	</li>
    </ul>
</div>
