<div class="IMChat-list contacts z">
	<div class="IMChat-search" ng-controller="personSearchController">
	    <div>
		   <ui-select ng-model="multipleDemo.selectedPeopleWithGroupBy" theme="bootstrap"  title="搜索联系人/群组/公众号" on-select="goToPersoninfo_Search($item)"
                ng-disabled="disabled">
		    <ui-select-match placeholder="联系人/群组/公众号">{{$select.selected.name}}</ui-select-match>
		    <ui-select-choices group-by="someGroupFn" repeat="search in searchList"  refresh="refreshPersons($select.search)" refresh-delay="300" >
		      <div ng-bind-html="search.name | highlight: $select.search"></div>
		       <div class="chat">
		             <span class="chatbtn"  ng-click="goToMessage_Search(search,$event)">聊天</span></div>
		      <small>
		       <span ng-bind-html="''+search.email | highlight: $select.search"></span>
		      </small>
		    </ui-select-choices>
		    </ui-select>
			
        </div>
	</div>
    <!-- <div class="list-item i-care" ng-class="{cur: $state.includes('contacts.follow')}" ui-sref=".follow">
    	我的关注
    </div> -->
    
    <div class="list-item i-care" ng-class="{cur: $state.includes('contacts.friend')}" ui-sref=".friend">
    	我的好友
    </div>
    
<!--     <div class="list-item my-dep" ui-sref=".dept">
    	我的部门
    </div> -->
    <div class="list-item my-groups" ui-sref=".group">
    	我的群组
    </div>
    <div class="list-item pub-acc" ui-sref=".pubAcc">
    	公众号
    </div>
<!--     <div class="list-item usu-tel" ui-sref=".usuTel">
    	常用电话
    </div>
    <div class="list-item sup-team" ui-sref=".supTeam">
    	36800协助
    </div> -->

	
</div>

<div ui-view id="IMChat-content" class="IMChat-dialog">
</div>