<div class="IMChat-confirm-bd del-group-mem  start-info">
    <div class="box-head">
          新版本功能介绍</div>
    <div  style="padding-left: 20px;margin-top: 10px; padding-right: 20px;  max-height:440px;overflow-y: auto;" >
    	
    	<div   class="update-item">
    		
    		1. 新增截图功能(目前只支持windows，mac 正在开发中，第一次安装成功并自动启动之后，可能需要退出重新登录，截图功能才能正常使用)
    		
    		
    	</div>
    	 <div class="update-item">
    		
    		2. 增加网络检查(有白屏也没事了，有网络了自动连接)
    		
    		
    	</div>
    	<div class="update-item">
    		
    		3. 语音消息有提示，目前暂不支持PC打开(后期会添加)
    		
    		
    	</div>
    	<div class="update-item"> 
    		
    		4. 群组人员信息可以查看单人的信息
    		
    		
    	</div>
    	
    	<div class="update-item"> 
    		
    		5. 图片预览功能(早已经有了，但是您可能没有注意)
    		
    		
    	</div>
    	<div class="update-item"> 
    		
    		6. 部分应用用户体验重新开发，您可以试试？
    		
    		
    	</div>
    	<div class="update-item">
    		
    		7. 解决购物后者类似网站弹出证书错误的信息
    		
    		
    	</div>
    	
    	<div class="update-item">
    		
    		8. mac新消息有提示音了，同时支持播放友学堂的视频
    		
    		
    	</div>
    	
    	<div class="update-item">
    		
    		9. 修复部分已知bug
    		
    		
    	</div>
     
    	 <div class="update-item" >
    		
    		10. 安装之前建议卸载以前的版本 
    		 
    		
    	</div>
    	 
    	 
    </div>
    <div class="box-foot">
        <div class="model-confirm"  ng-click="dowloadApp()" >升级</div>
        <div class="model-confirm" ng-click="NO_Click()">
            取消</div>
    </div>
</div>
