.list_head_item{
	margin: 10px 0 10px 0;
	padding-top: 2px;
}

.snsim_chat_window_tab_head .snsim_tab_head.cur .list_head_item{
	background: #fff;
	height: 20px;
};

.sns_chatroom_list_wide_head {
	padding: 8px 8px 4px 8px;
}

/* 聊天框顶部图标 */
#show_chatroom_members {
	width: 32px;
	height: 32px;
}
.snsim_current_session_group {
	background: url('../icons/qun_icon.png') no-repeat;
}
.snsim_current_session_group:hover {
	cursor: pointer;
}
.snsim_current_session_roster {
	background: url('../icons/lefttop_icon.png') no-repeat;
}

.snsim_current_session_others {
}

/* 群消息tab、群共享tab */
.snsim_dia_chatroom_list .snsim_tab_title{
	margin-left: 8px;
	vertical-align: 2px;
}
.snsim_message_tab_icon{
	display: inline-block;
	width: 15px;
	height: 16px;
	background: url('../icons/message_icon.png') no-repeat;
}
.snsim_share_tab_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../icons/files_icon.png') no-repeat;
}

.sns_share_panel {
	position: fixed;
	z-index: 9;
	width: 353px;
	height: 382px;
	max-height: 382px;
	background: white;
	overflow: hidden;
}

.sns_share_panel ul {
	list-style: none;
}

.sns_share_panel ul li {
	border-bottom: 1px solid #f7f4f4;
	padding: 4px 10px;
}

.sns_share_panel ul li:hover{
	background: #edf0f2;
}

.snsim_sharefile_box{
	overflow: hidden;
	height: 350px;
	position: relative;
}

.snsim_share_panel_head{
	height: 22px; 
	margin-top: 8px; 
	padding-left: 20px;
	border-bottom: 1px solid #f7f4f4;
}
.snsim_share_file_refresh_btn{
	margin-right: 20px;
	float: right;
}
.snsim_share_file_refresh_btn .refresh_icon{
	display: inline-block;
	width: 23px;
	height: 12px;
	background: url('../icons/refrsh_icon.png') no-repeat;
}
.download_btn{
	float: right; 
	margin: 15px 9px 0px 0px;
}
.download_btn .download_info{
	vertical-align: top;
}
.download_btn .download_icon{
	display: inline-block;
	width: 23px;
	height: 16px;
	background: url('../icons/download_icon.png') no-repeat;
}

.snsim_sharefile_container .snsim_file_info{
	display: inline-block;
	margin-left: 12px;
	width: 230px;
	overflow: hidden;
	white-space: nowrap;
}
.snsim_sharefile_container .snsim_file_info .name{
	display:block;
	width: 210px;
	overflow: hidden;
	font-size: 12px;
	margin-bottom: 4px;
}
.snsim_sharefile_container .snsim_file_info .downnum{
	color: #A19F9F;
}
.snsim_sharefile_container .snsim_file_info .creator{
	color: #A19F9F; 
	margin-left: 12px;
}
.snsim_sharefile_container .snsim_file_info .time{
	color: #A19F9F; 
	margin-left: 12px;
}
/* 头像上传裁图 */
.rRightDown, .rLeftDown, .rLeftUp, .rRightUp, .rRight, .rLeft, .rUp,
	.rDown {
	position: absolute;
	background: #FFF;
	border: 1px solid #333;
	width: 6px;
	height: 6px;
	z-index: 500;
	font-size: 0;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.rLeftDown, .rRightUp {
	cursor: ne-resize;
}

.rRightDown, .rLeftUp {
	cursor: nw-resize;
}

.rRight, .rLeft {
	cursor: e-resize;
}

.rUp, .rDown {
	cursor: n-resize;
}

.rLeftDown {
	left: -4px;
	bottom: -4px;
}

.rRightUp {
	right: -4px;
	top: -4px;
}

.rRightDown {
	right: -4px;
	bottom: -4px;
	background-color: #00F;
}

.rLeftUp {
	left: -4px;
	top: -4px;
}

.rRight {
	right: -4px;
	top: 50%;
	margin-top: -4px;
}

.rLeft {
	left: -4px;
	top: 50%;
	margin-top: -4px;
}

.rUp {
	top: -4px;
	left: 50%;
	margin-left: -4px;
}

.rDown {
	bottom: -4px;
	left: 50%;
	margin-left: -4px;
}

.bgDiv {
	width: 160px;
	height: 160px;
	border: 1px solid #666666;
	position: relative;
	margin: 19px 132px 1px 132px;
}

.dragDiv {
	border: 1px dashed #fff;
	width: 100px;
	height: 100px;
	top: 50px;
	left: 50px;
	cursor: move;
}
/* 消息提醒 */
.snsim_list_opt {
	display: none;
	width: 17px;
	height: 18px;
	background: url('../icons/edic_icon.png') no-repeat;
}

.sns_webim .snsim_list .list_content_li li:hover .snsim_list_opt {
	display: inline-block;
}

.sns_webim .snsim_list .list_content_li li:hover .snsim_unread_msg_num {
	display: none;
}

.snsim_unread_msg_num {
	display: none;
	color: #fff;
	background: #FF6868;
	border-radius: 10px;
	padding: 2px 4px;
}

/* remind */
.snsim_unread_message_panel {
	background: rgba(223, 223, 223, 0.62);
	position: absolute;
	overflow: auto;
	width: 182px;
	border-radius: 0;
	background: white;
	font-size: 12px;
	color: #000000;
	box-shadow: 9px 1px 38px rgba(93, 93, 93, 0.4);
}

.snsim_unread_message_panel ul {
	list-style: none;
}

.snsim_unread_message_panel ul li {
	border-top: 1px solid #d6d6d6;
	padding: 3px 10px 3px 10px;
}

.snsim_unread_message_panel ul li:hover {
	background: #ebedec;
}

.snsim_unread_message_panel .remind_message_num {
	float: right;
	margin: -36px 16px 0px 0px;
	border-radius: 40%;
	background: #FF6868;
	color: #FFF;
	width: 23px;
	text-align: center;
}

.snsim_unread_message_panel .name_content {
	display: inline-block;
	margin-left: 12px;
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	height: 56px;
}

.snsim_unread_message_panel .remind_message_content {
	color: #8b9395;
	margin-top: 6px;
}

.snsim_unread_message_panel .bottom {
	border-top: 1px solid #D3D3D3;
	padding: 5px 6px;
	margin:0 10px 16px 10px;
}
.snsim_unread_message_panel .arrow{
	background: rgba(189, 168, 168, 1) url(../icons/bottomarrow.png) no-repeat;
	height: 7px;
	border: 1px solid;
	background-position: 77px 0px;
}

.snsim_unread_message_panel .bottom span {
	color: #f8ab7c;
	cursor: pointer;
}
#ignore_all {
	float: left;
}

#check_all {
	float: right;
}

.sns_webim a.avatar_upload_btn, a.avatar_upload_btn {
	background: #4fb45d;
	border-radius: 3px;
	vertical-align: top;
	margin-left: 13px;
	padding: 3px 14px;
	color: #fff;
}

.sns_msg_file_icon {
	float: left;
	width: 30px;
}
.sns_msg_file_info {
	white-space: nowrap;
	float: left;
	margin-top: 7px;
	margin-left: 10px;
	max-width: 170px;
	overflow: hidden;
}

/* workflow */

.sns_webim .snsim_chat_box .tab_list li.cur a.process_tab {
	color: #470404;
}

.sns_room_inner_tab {
	background:#fafafa;
	height: 34px;
}

.sns_invite_search_result {
	margin-left: 26px;
	background: #f7fafa; 
	padding: 0px 15px;
}

.sns_sys_config {
	width: 100%;
	height: 400px;
	border-radius: 0 7px 0 0;
}