<div ng-include="'message/angular/template/group-setup.htm'"></div>
	
<!--  IMChat 对话title -->
<div class="IMChat-title cl">
    <h2 class="title-item z">
        应用中心</h2>
    <!--<ul class="operate-item y">
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
    </ul>-->
</div>
<!-- 消息、人员展现窗口 -->
<div class="IMChat-entity-container">
<div class="IMChat-entity-display app">
    <!-- 消息实体 -->
     <div class="app-entity myapp">
		<dl ng-click="">
			<dt class="salary-query"></dt>
			<dd>应用示例1</dd>
			<dd class="add">打开</dd>
		</dl>
		<dl ng-click="">
			<dt class="approve"></dt>
			<dd>应用示例2</dd>
			<dd class="add">打开</dd>
		</dl>
		<dl ng-click="">
			<dt class="self-help"></dt>
			<dd>应用示例3</dd>
			<dd class="add">打开</dd>
		</dl>
		<dl ng-click="">
			<dt class="projecthours"></dt>
			<dd>应用示例4</dd>
			<dd class="add">打开</dd>
		</dl>
		<dl ng-click="">
			<dt class="resource"></dt>
			<dd>应用示例5</dd>
			<dd class="add">打开</dd>
		</dl>
		<dl ng-click="">
			<dt class="classroom"></dt>
			<dd>应用示例6</dd>
			<dd class="add">打开</dd>
		</dl>
		
    </div>
    <!-- 联系人实体 -->
</div>
</div>
