.rainbow-a{
	border-color: #fb7d77;
	background-color: #fb7d77;	
}
.rainbow-b{
	border-color: #5cc9f2;
	background-color: #5cc9f2;	
}
.rainbow-c{
	border-color: #a3cf48;
	background-color:#a3cf48;	
}
.rainbow-d{
	border-color: #71c66c;
	background-color: #71c66c;	
}
.rainbow-e{
	border-color: #5e95f2;
	background-color: #5e95f2;	
}
.rainbow-f{
	border-color: #d8cf36;
	background-color: #d8cf36;	
}
.rainbow-g{
	border-color: #f99340;
	background-color: #f99340;	
}
.rainbow-h{
	border-color: #44c8ba;
	background-color: #44c8ba;	
}
.rainbow-i{
	border-color: #7395ea;
	background-color: #7395ea;	
}
.rainbow-j{
	border-color: #eb7771;
	background-color: #eb7771;	
}
.rainbow-k{
	border-color: #bf97ef;
	background-color: #bf97ef;	
}
.rainbow-l{
	border-color: #f99340;
	background-color: #f99340;	
}
.rainbow-m{
	border-color: #f2c72d;
	background-color: #f2c72d;	
}
.rainbow-n{
	border-color: #f5855b;
	background-color: #f5855b;	
}
.rainbow-o{
	border-color: #47d9c9;
	background-color: #47d9c9;	
}
.rainbow-p{
	border-color: #a5a1ff;
	background-color: #a5a1ff;	
}
.rainbow-q{
	border-color: #f173a2;
	background-color: #f173a2;	
}
.rainbow-r{
	border-color: #c68df0;
	background-color: #c68df0;	
}
.rainbow-s{
	border-color: #69d99f;
	background-color: #69d99f;	
}
.rainbow-t{
	border-color: #b28dfa;
	background-color: #b28dfa;	
}
.rainbow-u{
	border-color: #e97fd7;
	background-color: #e97fd7;	
}
.rainbow-v{
	border-color: #74c4e6;
	background-color: #74c4e6;	
}
.rainbow-w{
	border-color: #e8a35c;
	background-color: #e8a35c;	
}
.rainbow-x{
	border-color: #e58a7f;
	background-color: #e58a7f;	
}
.rainbow-y{
	border-color: #e5b96a;
	background-color: #e5b96a;	
}
.rainbow-z{
	border-color: #70bbfb;
	background-color: #70bbfb;	
}
.rainbow-1{
	border-color: #d9ad44;
	background-color: #d9ad44;	
}
.rainbow-2{
	border-color: #549c2c;
	background-color: #549c2c;	
}
.rainbow-3{
	border-color: #b3610d;
	background-color: #b3610d;	
}
.rainbow-4{
	border-color: #f5a623;
	background-color: #f5a623;	
}
.rainbow-5{
	border-color: #ef6599;
	background-color: #ef6599;	
}
.rainbow-6{
	border-color: #cd4046;
	background-color: #cd4046;	
}
.rainbow-7{
	border-color: #bc4e73;
	background-color: #bc4e73;	
}
.rainbow-8{
	border-color: #0caaa5;
	background-color: #0caaa5;	
}
.rainbow-9{
	border-color: #8baf41;
	background-color: #8baf41;	
}
.rainbow-0{
	border-color: #4b7dd6;
	background-color: #4b7dd6;	
}