@charset "utf-8";


/*rainbow*/
.rainbow-a{
	border-color: #7f352c;
	background-color: #7f352c;	
}
.rainbow-b{
	border-color: #41b6e1;
	background-color: #41b6e1;	
}
.rainbow-c{
	border-color: #ff6599;
	background-color:#ff6599 ;	
}
.rainbow-d{
	border-color: #bc4e73;
	background-color: #bc4e73;	
}
.rainbow-e{
	border-color: #8c5de9;
	background-color: #8c5de9;	
}
.rainbow-f{
	border-color: #4b7dd6;
	background-color: #4b7dd6;	
}
.rainbow-g{
	border-color: #d9a954;
	background-color: #d9a954;	
}
.rainbow-h{
	border-color: #bbb215;
	background-color: #bbb215;	
}
.rainbow-i{
	border-color: #d5564f;
	background-color: #d5564f;	
}
.rainbow-j{
	border-color: #d9ad44;
	background-color: #d9ad44;	
}
.rainbow-k{
	border-color: #0e7f73;
	background-color: #0e7f73;	
}
.rainbow-l{
	border-color: #CD4046;
	background-color: #CD4046;	
}
.rainbow-m{
	border-color: #94345A;
	background-color: #94345A;	
}
.rainbow-n{
	border-color: #318AB0;
	background-color: #318AB0;	
}
.rainbow-o{
	border-color: #81076C;
	background-color: #81076C;	
}
.rainbow-p{
	border-color: #0CAAA5;
	background-color: #0CAAA5;	
}
.rainbow-q{
	border-color: #116CBA;
	background-color: #116CBA;	
}
.rainbow-r{
	border-color: #562493;
	background-color: #562493;	
}
.rainbow-s{
	border-color: #2F54AF;
	background-color: #2F54AF;	
}
.rainbow-t{
	border-color: #B3610D;
	background-color: #B3610D;	
}
.rainbow-u{
	border-color: #4945b3;
	background-color: #4945b3;	
}
.rainbow-v{
	border-color: #8baf41;
	background-color: #8baf41;	
}
.rainbow-w{
	border-color: #8144ae;
	background-color: #8144ae;	
}
.rainbow-x{
	border-color: #549c2c;
	background-color: #549c2c;	
}
.rainbow-y{
	border-color: #299a60;
	background-color: #299a60;	
}
.rainbow-z{
	border-color: #a9326a;
	background-color: #a9326a;	
}
.rainbow-1{
	border-color: #d9ad44;
	background-color: #d9ad44;	
}
.rainbow-2{
	border-color: #549c2c;
	background-color: #549c2c;	
}
.rainbow-3{
	border-color: #b3610d;
	background-color: #b3610d;	
}
.rainbow-4{
	border-color: #f5a623;
	background-color: #f5a623;	
}
.rainbow-5{
	border-color: #ef6599;
	background-color: #ef6599;	
}
.rainbow-6{
	border-color: #cd4046;
	background-color: #cd4046;	
}
.rainbow-7{
	border-color: #bc4e73;
	background-color: #bc4e73;	
}
.rainbow-8{
	border-color: #0caaa5;
	background-color: #0caaa5;	
}
.rainbow-9{
	border-color: #8baf41;
	background-color: #8baf41;	
}
.rainbow-0{
	border-color: #4b7dd6;
	background-color: #4b7dd6;	
}